@import "menu.less";

@base-color: #1890ff;
@light-grey: #eff0f1;

body {
  background-color: aqua;
}

.main-content {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 280;
  overflow: scroll;
}

#__next {
  display: flex;
  height: 100%;
}

.search-box-container {
  padding-top: 5px;
}

.editorClassName {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
}

.toolbarClassName {
  border: 1px solid rgb(217, 217, 217) !important;
  border-radius: 5px !important;
}

.header-options {
  display: flex;
  padding: 5px 10px;
}

.basic-fa-icon {
  color: @base-color;
}

.link {
  cursor: pointer;
}

.editorClassName {
  line-height: 1.3;
}

.logout {
  background: none;
  border: none;
  cursor: pointer;
}

.search-result-item {
  .question {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .tag-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  padding: 10px;
  max-width: 800px;
  border: 1px solid @light-grey;
  margin-bottom: 5px;
}